<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand p-3" href="/">AUIX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <a class="nav-link" href="/documentos">Documentos <span class="sr-only"></span></a>
                <a class="nav-link" href="/tipodocumentos">Tipos de Documentos <span class="sr-only"></span></a></li>
                <a class="nav-link" href="/detalles">Detalles <span class="sr-only"></span></a></li>
                <a class="nav-link" href="/series">Series <span class="sr-only"></span></a></li>
                <a class="nav-link" href="/entidades">Entidades <span class="sr-only"></span></a></li>


        </div>
    </nav>
</div>